@import ".reset";
@import ".styles";

body {
  background: radial-gradient(circle, $Background_color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: auto;
  border: 3px solid $Header;
  border-radius: 1rem;
  margin-top: 2.875rem;
  padding: 1rem 2rem;

  &__logo {
  }
  &__scoreboard {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    padding: 1rem 2.875rem;
    border-radius: 0.8rem;

    span {
      &:first-child {
        color: $Score;
      }
      &:last-child {
        font-size: 4rem;
        font-weight: 700;
        color: $Dark;
      }
    }
  }
}

.game {
  display: flex;
  justify-content: center;
  margin-top: 140px;
  &__boxDiv {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  &__box {
    position: absolute;
    padding: 22px;
    border-radius: 50%;
    &:nth-child(1) {
      left: -70px;
      top: -80px;
      background: linear-gradient(180deg, $Paper);
      box-shadow: 1px 9px 0px 0px #2945C2;
    }
    &:nth-child(2) {
      right: -70px;
      top: -80px;
      background: linear-gradient(180deg, $Scissors);
      box-shadow: 1px 9px 0px 0px #C76C1D;
    }
    &:nth-child(3) {
      background: linear-gradient(180deg, $Rock);
      box-shadow: 1px 9px 0px 0px #9F1532;
      bottom: -50px;
    }
    &:nth-child(4) {
    }
  }
  &__boxInner {
    width: 60px;
    height: 60px;
    display: flex;
    background-color: white;
    box-shadow: 1px -6px 0px 0px #BABED2;
    border-radius: 50%;
    padding: 40px;
  }
  &__background {
  }
}

.footer {
  text-align: end;
  &__button {
    background-color: transparent;
    padding: 1rem;
    color: white;
    border: 1px solid white;
  }
}
