@import ".reset";
@import ".styles";

body {
  background: radial-gradient(circle, $Background_color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: auto;
  border: 3px solid $Header;
  border-radius: 1rem;
  margin-top: 2.875rem;
  padding: 1rem 2rem;

  &__logo {
  }
  &__scoreboard {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    padding: 1rem 2.875rem;
    border-radius: 0.8rem;

    span {
      &:first-child {
        color: $Score;
      }
      &:last-child {
        font-size: 4rem;
        font-weight: 700;
        color: $Dark;
      }
    }
  }
}

section {
}

.footer {
  text-align: end;
  &__button {
    background-color: transparent;
    padding: 1rem;
    color: white;
    border: 1px solid white;
  }
}
